.App {
  background: linear-gradient(to bottom, #82cde4, #cccccc);
  background-color: #707eac;
  height: 105vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

* {
  margin: 0;
}

.city-input {
  background: none;
  border: none;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 50px;
  outline: none; 
  z-index: 1;
}

.city-weather-block{
  border: 1px solid rgb(96, 215, 133);
  width: 600px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.city-weather-left, 
.city-weather-right
{
  border: 1px solid rgb(96, 215, 133);
  width: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.city-news-block {
  border: 1px solid rgb(96, 215, 133);
  width: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.city-info-block {
  margin-top: 10px;
  border: 1px solid green;
  width: 90vw;
  height: 50vh;
  position: relative;
  z-index: 1;
}

.city-news-border{
  border: 1px solid blueviolet;
  width: 500px;
}

.city-news-text {
  color: #736758;
  border: 1px solid blueviolet;
  font-size: 22px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}



.city-info-wrapper {
  border: 1px solid rgb(118, 21, 229);
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.city-block-container {
  border: 1px solid rgb(255, 0, 0);
  display: flex;
  z-index: 2;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 1200px;

}

.city-temp-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 140px;

}

.city-weather-label {
  color: #736758;
  font-size: 25px;
  font-weight: bold;
}

.city-temp-low {
  color: #488DDF;
  font-size: 22px;
  font-weight: bold;
}

.city-temp-high {
  color: #E16D5C;
  font-size: 22px;
  font-weight: bold;
}

.city-wind-speed {
  color: #6683A4;
  font-size: 22px;
  font-weight: bold;

}

.city-humidity {
  color: #6683A4;
  font-size: 22px;
  font-weight: bold;
}

.city-cloudiness{
  color: #6F6F79;
  font-size: 22px;
  font-weight: bold;
}

.vl,
.vlTemp {
  border-left: 4px solid #736758;
  height: 340px;
  border-radius: 5px;
  position: relative;



}

.vlTemp{
  border-radius: 1px;
  height: 30px;
}

.search-container {
  align-items:center;
  border: 2px solid rgb(0, 77, 67);
  display: flex;
  height: 140px;
  justify-content: left;
  margin-left: 50px;
  width: max-content;
}

.search-bar-wrapper,
.temp-bar-wrapper {
  align-items: center;
  background-image: url('./assets/searchBar.svg'); 
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  height: 92px;
  width: 550px;
}

.temp-bar-wrapper {
  align-items: center;
  border: 1px solid blueviolet;
  display: flex;
  height: 75px;
  justify-content: center;
  margin-left: 2.5rem;
  margin-top: 14rem;
  position: absolute;
  width: 470px;
}

.weather-info-container {
  align-items: center;
  border: 1px solid red;
  display: flex;
  height: 300px;
  justify-content: center;
  width: 100%;
}

.grass-indicator-wrapper {
  align-items: center;
  border: 1px solid rgb(43, 24, 255);
  display: flex;
  height: 60%;
  justify-content: center;
  width: 100%;
}

.sun-image {
  border: 1px solid blueviolet;
  height: 310px;
  margin-bottom: 12.5rem;
  margin-left: 44rem;
  position: absolute;
}

.sunrise-image {
  border: 1px solid blueviolet;
  height: 100px;
}

.sun-time {
  color: #736758;
  font-size: 25px;
  font-weight: bold;
}

.sunrise-box {
  border: 1px solid rgb(255, 0, 0);
  height: 160px;
  display: flex;
 justify-content: center;
 
 flex-direction: column;
}

.temp-bar-image {
  border: 1px solid blueviolet;
  margin-left: 2.5rem;
  margin-top: 14rem;
  position: absolute;
  width: 470px;
}

.search-button {
  background-color: #00000000;
  background-image: url('./assets/searchButton.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  height: 40px;
  outline: none; 
  width: 40px;
  z-index: 1;
}

.search-button:active {
  opacity: 0.5; 
}

.search-bar {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 20px;
  width: 480px;
}

.temp-bar-text,
.temp-bar-noCity-text {
  color: #82857F;
  display: flex;
  font-size: 22px;
  font-weight: bold;
  justify-content: space-between;
  width: 430px;
}

.temp-bar-noCity-text {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  /* Adjust styles for screens up to 768px width */
  /* 
  .container {
    height: 500px;
    width: 100%;
  }

  .sun-image {
    margin: 0 auto; 
    margin-bottom: 1.5rem; 
  }

  .grass-indicator-wrapper {
    height: 20%; 
    width: 50%;
  } 
  */
}